JMXLOCALONLY=false
JMXPORT={{ zookeeper_jmx_port }}
JMXAUTH=false
JMXSSL=false
JVMFLAGS="-javaagent:/opt/jolokia/jolokia-agent.jar=post=8778,host=*"
JVMFLAGS="$JVMFLAGS -Xmx${MAX_HEAP_SIZE} -Xms${MAX_HEAP_SIZE}"